amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
celery==5.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.0.5
django-allauth==0.61.1
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-extensions==3.2.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
gunicorn==21.2.0
kombu>=5.3.4, <6.0  # Fixed the conflict
packaging==24.2
prompt_toolkit==3.0.50
PyJWT==2.8.0
python-dateutil==2.9.0.post0
redis==5.0.1
sqlparse==0.4.4
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
